{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a href="index.html" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Shop</span></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Checkout</span></li>
    </ul>
  </section>

  <!--=============== CHECKOUT ===============-->
  <section class="checkout section--lg">
    <div class="checkout__container container grid">
      <div class="checkout__group">
        <div>
          <div style="display: flex; margin:10px;">
            <textarea name="address" id="adr" class="form__input"></textarea>
            <button class="btn flex btn--md" style="margin-left: 5px;" onclick="addaddress()">Add Address</button>
          </div>
          <br>
          <h3 class="tab__header">Shipping Address</h3>

          <div id="viewAddress"></div>

        </div>
      </div>
      <div class="checkout__group">
        <h3 class="section__title">Cart Totals</h3>
        <table class="order__table">
          <thead>
            <tr>
              <th colspan="2">Products</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            {%for cart in carts%}
            <tr>
              <td>
                <img src="media/{{cart.product.image}}" alt="" class="order__img" />
              </td>
              <td>
                <h3 class="table__title">{{cart.product.name}}</h3>
                <p class="table__quantity">x {{cart.qty}}</p>
              </td>
              <td><span class="table__price">${{cart.product.price}}</span></td>
            </tr>
            {%endfor%}
            <tr>
              <td><span class="order__subtitle">Subtotal</span></td>
              <td colspan="2"><span class="table__price">${{sum}}</span></td>
            </tr>
            <tr>
              <td><span class="order__subtitle">Shipping</span></td>
              <td colspan="2">
                <span class="table__price">Free Shipping</span>
              </td>
            </tr>
            <tr>
              <td><span class="order__subtitle">Total</span></td>
              <td colspan="2">
                <span class="order__grand-total">$<span id="amt">{{sum}}</span></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="payment__methods">
          <h3 class="checkout__title payment__title">Payment</h3>
          <div class="payment__option flex">
            <input type="radio" name="radio" id="l1" checked class="payment__input" />
            <label for="l1" class="payment__label">Online</label>
          </div>

        </div>
        <button class="btn btn--md" id="rzp-button1">Place Order</button>
      </div>
    </div>
  </section>

  <!--=============== NEWSLETTER ===============-->
  <section class="newsletter section">
    <div class="newsletter__container container grid">
      <h3 class="newsletter__title flex">
        <img src="./static/assets/img/icon-email.svg" alt="" class="newsletter__icon" />
        Sign in to Newsletter
      </h3>
      <p class="newsletter__description">
        ...and receive $25 coupon for first shopping.
      </p>
      <form action="" class="newsletter__form">
        <input type="text" placeholder="Enter Your Email" class="newsletter__input" />
        <button type="submit" class="newsletter__btn">Subscribe</button>
      </form>
    </div>
  </section>
</main>

<script>

  $(document).ready(function () {
    load()
  })

  const addaddress = () => {
    var address = $("#adr").val()
    $.get('address', { address }, function (rt) {
      location.reload()
    })
  }

  const load = () => {

    $.get('get-address', {}, function (rt) {

      var address = ""
      rt.address.map(ele => {
        address += ` <div class="tab__body">
            <input type='radio' name='adr' value='${ele.id}'>
            <address class="address">
             ${ele.address}
            </address>
            
            <a href="#" class="edit">Edit</a>
          </div>`
      })

      $("#viewAddress").html(address)

    })

  }


</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

  document.getElementById('rzp-button1').onclick = function (e) {

    e.preventDefault();

    var amt = $('#amt').html()

    $.get("pay", { amt }, function (rt) {


      var options = {
        "key": "rzp_test_6T4aCyCyT7g7Ye", // Enter the Key ID generated from the Dashboard
        "amount": rt.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Tops Technologies",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": rt.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          // alert(response.razorpay_payment_id);
          // alert(response.razorpay_order_id);
          // alert(response.razorpay_signature)

          var adr = $("input[name='adr']").val();
          $.get("makeorder", { "payid": response.razorpay_payment_id, adr }, function (rt) {
            alert(rt)
            location.href = "accounts"
          })
        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9000090000"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
      });

      rzp1.open();
    })



  }
</script>
{% endblock %}